:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 2em;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding-bottom: 2em;
  border-bottom: 1px solid #f5f5f5;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding-left: 1.25em;
  font-size: var(--font-size-xl);
}

nav ul li a:link,
nav ul li a:visited {
    color: #000;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

.grid img {
  padding: 0.5em;
}

#products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

#products div {
  grid-column: 1 / 4;
  padding-top: 3em;
}

div h1 {
  font-size: var(--font-size-xxl);
}

div strong {
  text-transform: capitalize;
}


section h2 {
  text-align: center;
}

 div article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 2.5em;
}

/* .product {
  background-color: #FAFAFA;
  border-radius: 20px;
  padding: 3em 0;
  text-align: center;
}

.product article img {
  width: 80px;
  border-radius: 50%;
} */