:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 1em;
}

header {
  padding-bottom: 2em;
  border-bottom: 1px solid #f5f5f5;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding-left: 1.25em;
  font-size: var(--font-size-lg);
}

nav ul li a:link,
nav ul li a:visited {
    color: #000;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

.grid img {
  padding: 0.5em;
}

#products {
  display: grid;
  grid-template-areas: 
    "item1 item1 item1"
    "item2 item3 item4";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

#item-1 {
  grid-area: item1;
}

#item-2 {
  grid-area: item2;
}

#item-3 {
  grid-area: item3;
}

#item-4 {
  grid-area: item4;
}

/* #products img {
  grid-column: 1 / 4;
  padding-top: 3em;
} */

div h1 {
  font-size: var(--font-size-xxl);
  font-weight: 200;
  margin: 0%;
}

strong {
  font-size: var(--font-size-base);
  text-transform: uppercase;
  margin: 0%;
}

p {
  font-size: var(--font-size-sm);
  margin: 0%;
  margin-top: 1em;
}

#red {
  margin: 0;
}

button {
	color: #fff;
	background-color: #000;
  border: 5px solid #000;
  border-radius: 3px;
  margin-top: 1em;
}

button:hover {
  background-color: red;
  border: 5px solid red;
  color: #fff;
  border-radius: 3px;
}

section {
  padding-bottom: 5em;
  border-top: 1px solid #f5f5f5;
}

section h2 {
  text-align: center;
}

#quotes {
  background-color: #000;
  color: #fff;
}

blockquote {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#quotes footer {
  text-align: left;
  padding-top: 1em;
  font-size: var(--font-size-sm);
}

#article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 3em;
}

article img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.product {
  background-color: #FAFAFA;
  border-radius: 20px;
  padding: 1em;
  text-align: center;
}

.product article img {
  width: 80px;
  border-radius: 50%;
}

footer p {
  text-align: center;
  padding: 1.5em;
  border-top: 1px solid #f5f5f5;
}


@media (min-width: 768px) {
  #products {
    display: grid;
    grid-template-areas: 
      "item1 item2"
      "item3 item4";
    grid-template-columns: 1fr 1fr;
  }

  span {
    float: left;
    width: 50%;
    padding: 1em;
  }

  span:after {
    content: "";
    display: table;
    clear: both;
  }

  #quotes {
    margin-top: 10em;
  }

  blockquote {
    margin: 0 auto;
  }

  #saying {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
  }

  #quotes footer {
    text-align: left;
    padding-top: 1em;
    font-size: var(--font-size-sm);
  }

  #article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
  }
}


@media (min-width: 960px) {
    .grid {
      display: flex;
      justify-content: space-between;
    }

    #text {
      padding-left: 1em;
    }

    div h1 {
      font-size: var(--font-size-xl);
    }

    div p {
      font-size: var(--font-size-base);
    }

    strong {
      font-size: var(--font-size-sm);
    }

    #red {
      font-size: var(--font-size-sm);
    }
}


@media (min-width: 1200px) {
  .wrapper {
    margin: 0 auto;
  }

  .grid {
    padding-top: 3em;
  }

  section {
    padding-bottom: 4em;
  }

  article img {
    margin: 1em;
  }
}